@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@font-face {
    font-family: clash;
    src: url('/fonts/clash.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'clash';
    transition: .2s;
    letter-spacing: 0.05em;
}

html {
    scroll-behavior: smooth;
}

.nuxt-progress {
    background-image: linear-gradient(to right, #ff9d05, #1900b3);
    height: 4px;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
}

.app-width {
    width: 1400px;
    max-width: 90%;
}

.i-app-width {
    width: 1200px;
    max-width: 90%;
}

.fi {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.empty img {
    height: 100px;
}

.empty p {
    font-size: 30px;
    font-weight: 600;
}

.learn {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    width: 100%;
    background-image: url('/images/learn.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.learn p {
    font-size: 24px;
    font-weight: 600;
}

.learn div {
    padding: 16px 24px;
    border-radius: 30px;
    width: 200px;
    font-size: 20px;
    background: #ff9d05;
    font-size: 15px;
    font-weight: 600;
    color: #1900b3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    user-select: none;
}

@media screen and (max-width: 800px) {
    .learn {
        flex-direction: column;
        height: fit-content;
        padding: 20px 0;
        gap: 20px;
    }
}